<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Property Id="DesktopTimerComponents" Value="1" />
    <?define SourceRoot = $(var.DesktopTimer.TargetDir)?>
    <ComponentGroup Id="DesktopTimerComponents">
      <Component Id="Autofac_Component" Guid="5D6196D2-59C8-46AD-83EA-FB34AD400DA7" Directory="INSTALLFOLDER">
        <File Id="AutofacDLL" Name="Autofac.dll" Source="$(var.SourceRoot)" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="CaliburnMicro_Component" Guid="B3A793D1-F960-4BB4-B205-D47C91F526EE" Directory="INSTALLFOLDER">
        <File Id="CaliburnMicroDLL" Name="Caliburn.Micro.dll" Source="$(var.SourceRoot)" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="DesktopTimerCore_Component" Guid="4DC4E170-B457-429F-B56C-9654BBA46412" Directory="INSTALLFOLDER">
        <File Id="DesktopTimerCoreDLL" Name="DesktopTimer.Core.dll" Source="$(var.SourceRoot)" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="DesktopTimerCorePdb_Component" Guid="33D94754-C861-4BA6-9A01-D7DA197BCD96" Directory="INSTALLFOLDER">
        <File Id="DesktopTimerCorePDB" Name="DesktopTimer.Core.pdb" Source="$(var.SourceRoot)" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="DesktopTimerDomain_Component" Guid="21BDF094-0D6B-4D4A-8FB7-13B6B100310B" Directory="INSTALLFOLDER">
        <File Id="DesktopTimerDomainDLL" Name="DesktopTimer.Domain.dll" Source="$(var.SourceRoot)" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="DesktopTimerDomainPdb_Component" Guid="A65ACB69-6F91-44BC-AF86-F13B8A863250" Directory="INSTALLFOLDER">
        <File Id="DesktopTimerDomainPDB" Name="DesktopTimer.Domain.pdb" Source="$(var.SourceRoot)" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="DesktopTimer_Component" Guid="1C7B0C4B-F6CE-485C-8B46-71443BE8ACFE" Directory="INSTALLFOLDER">
        <File Id="DesktopTimerEXE" Name="DesktopTimer.exe" Source="$(var.SourceRoot)" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="DesktopTimerConfig_Component" Guid="D7AE37C2-7F85-403C-918E-1BD90E5D9932" Directory="INSTALLFOLDER">
        <File Id="DesktopTimerExeCONFIG" Name="DesktopTimer.exe.config" Source="$(var.SourceRoot)" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="DesktopTimerPdb_Component" Guid="E57C4E64-08AD-4F0F-86BB-682294B7D8C7" Directory="INSTALLFOLDER">
        <File Id="DesktopTimerPDB" Name="DesktopTimer.pdb" Source="$(var.SourceRoot)" KeyPath="yes" Vital="yes" />
      </Component>
      <Component Id="HardcodetWpfTaskbarNotification_Component" Guid="F745D023-A94E-45DE-B476-334AAC381458" Directory="INSTALLFOLDER">
      <File Id="HardcodetWpfTaskbarNotificationDLL" Name="Hardcodet.Wpf.TaskbarNotification.dll" Source="$(var.SourceRoot)" KeyPath="yes" Vital="yes" />
    </Component>
    <Component Id="SystemWindowsInteractivity_Component" Guid="3CD09425-5B80-40E3-9155-502F02B5CD03" Directory="INSTALLFOLDER">
        <File Id="SystemWindowsInteractivityDLL" Name="System.Windows.Interactivity.dll" Source="$(var.SourceRoot)" KeyPath="yes" Vital="yes" />
      </Component>

      <!-- Auto-start -->
      <Component Id="DesktopTimerAutoStart_Component" Guid="9725BE75-6D8D-4C19-BC4F-56940A249149" Directory="INSTALLFOLDER">
        <RegistryValue Id="DesktopTimerAutoStart" Root="HKMU" Action="write" Key="Software\Microsoft\Windows\CurrentVersion\Run"
                       Name="Desktop Timer" Value="[#DesktopTimerEXE]" Type="string" />
      </Component>
    </ComponentGroup>

    <!-- Shortcuts -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="DesktopTimerShortcut_Component" Guid="3936E995-8840-441B-9288-FD3DF74FD261">
        <Shortcut Id="DesktopTimerLNK" Name="Desktop Timer" Description="Desktop Timer" Target="[#DesktopTimerEXE]"
                  WorkingDirectory="INSTALLFOLDER"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\Microsoft\ProligenceRiftTracker" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
    
  </Fragment>
</Wix>