<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define UpgradeCode="f602c96e-9c87-493c-ba7e-c166a3c8bbec" ?>
  <?define ProductVersion="!(bind.fileVersion.DesktopTimerEXE)" ?>

  <Product Id="*" Name="Desktop Timer" Language="1033" Version="$(var.ProductVersion)"
           Manufacturer="Marek Dzikiewicz" UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <MediaTemplate EmbedCab="yes" />

    <!-- Upgrade support -->
    <Property Id="OLDVERSION" Secure="yes" />
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="1.0.0.0" Maximum="99.0.0.0" Property="OLDVERSION" IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>

    <!-- Main feature -->
    <Feature Id="DesktopTimer" Title="Desktop Timer" Level="1">
      <ComponentGroupRef Id="DesktopTimerComponents" />
      <ComponentRef Id="DesktopTimerShortcut_Component" />
    </Feature>
    
    <!-- Components -->
    <PropertyRef Id="DesktopTimerComponents" />

    <!-- UI -->
    <UIRef Id="WixUI_FeatureTree" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <!-- Check if .NET Framework 4.5 is intalled -->
    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="This application requires .NET Framework 4.5.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <!-- Action: RemoveExistingProducts -->
    <InstallExecuteSequence>
      <RemoveExistingProducts Before="InstallInitialize"/>
    </InstallExecuteSequence>

  </Product>

  <!-- Directories -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Desktop Timer" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Desktop Timer"/>
      </Directory>
    </Directory>
  </Fragment>

</Wix>